<h2 mat-dialog-title>Update Follow Check up</h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">

  <!-- //start -->

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">


        <form [formGroup]="formAddUser">


          <!-- <div *ngIf="child"> -->



          <p class="text-success">If you want to update the follow check up of the pregnant please update here below!
          </p>


          <div class="row">
            <div class="col-md-12 col-lg-12">
              <mat-form-field class="example-full-width">
                <mat-label>Id</mat-label>
                <input matInput readonly [value]="DataValues?.user_id" formControlName="user_id">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Follow check up</mat-label>
                <input formControlName="womens_date" matInput [matDatepicker]="picker">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <mat-form-field class="example-full-width">
                <mat-label>Cellphone nO.</mat-label>
                <input matInput readonly [value]="DataValues?.cell_no" formControlName="cell_no">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <mat-form-field class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput formControlName="comment"></textarea>
              </mat-form-field>
            </div>
          </div>



        </form>

      </div>
    </div>
  </div>






  <!-- end -->

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="onSubmit()">Update</button>
</mat-dialog-actions>


<!-- archived naten sa ibang database yung laman -->
