<h2 mat-dialog-title>Update Child Status Information</h2>
<mat-dialog-content style="width: 900px;" class="mat-typography">

  <!-- //start -->

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">


        <form [formGroup]="formAddUser">


          <!-- <div *ngIf="child"> -->


          <div class="card">
            <div class="card-body">
              <h3>This is the previous data of the child</h3>
              <div class="row mx-0 px-0">
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Height in (m)</mat-label>
                    <input readonly formControlName="childheight" type="number" matInput style="cursor:not-allowed;">
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Mass in kilogram (kg) </mat-label>
                    <input readonly formControlName="childkilo" type="number" matInput style="cursor:not-allowed;">
                  </mat-form-field>
                </div>


                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Body Mass Index</mat-label>
                    <input readonly formControlName="childmassindex" readonly matInput style="cursor:not-allowed;">
                  </mat-form-field>
                </div>


              </div>

            </div>
          </div>

          <br>
          <hr>
          <br>

          <div class="card">
            <div class="card-body">
              <h3 class="text-success">If you want to update the child status please update here below!</h3>

              <div class="row">
                <div class="col-md-6 col-lg-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Date of birth</mat-label>
                    <input formControlName="bdate_update" matInput [matDatepicker]="picker" (dateChange)="onDateChange($event)">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-6 col-lg-6">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Age</mat-label>
                    <input formControlName="age_update" readonly matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="row ">
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Height in (m)</mat-label>
                    <input formControlName="childheight_update" type="number" matInput>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Mass in kilogram (kg) </mat-label>
                    <input formControlName="childkilo_update" type="number" matInput>
                  </mat-form-field>
                </div>


                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Body Mass Index</mat-label>
                    <input readonly formControlName="childmassindex_update" matInput>
                  </mat-form-field>
                </div>


              </div>

              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <div class="d-flex justify-content-end">
                    <div class="">
                      <button (click)="calculate()" mat-raised-button>Calculate</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>


        </form>

      </div>
    </div>
  </div>






  <!-- end -->

</mat-dialog-content>

<mat-dialog-actions align="end" *ngIf="showBtn">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="onSubmit()">Update</button>
</mat-dialog-actions>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>


<!-- archived naten sa ibang database yung laman -->
