
<h2 mat-dialog-title>Resident Medicine Record</h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">

  <!-- //start -->

  <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">


          <div *ngFor="let data of DataValues"  class="card-body" >

            <div class="row mb-2 card-header" style="background-color: rgb(10, 110, 110); color: bisque;">
              <div class="col-md-4 col-lg-4">
               <strong>Date</strong>
              </div >
              <div class="col-md-4 col-lg-4">
                {{data?.created_date | date}}
              </div>
            </div>

            <div class="row mb-2" >
              <div class="col-md-4 col-lg-4">
                <strong>Fullname</strong>
              </div >
              <div class="col-md-4 col-lg-8">
                {{data?.fname}} {{data?.mname}} {{data?.lname}}
              </div>
            </div>
            <div class="row mb-2" >
              <div class="col-md-4 col-lg-4">
                <strong>Product name</strong>
              </div >
              <div class="col-md-4 col-lg-8">
                {{data?.prodname}}
              </div>
            </div>
            <div class="row mb-2" >
              <div class="col-md-4 col-lg-4">
                <strong>Medicine Type</strong>
              </div >
              <div class="col-md-4 col-lg-8">
                {{data?.medtype}}
              </div>
            </div>
            <div class="row mb-2" >
              <div class="col-md-4 col-lg-4">
                <strong>Quantity</strong>
              </div >
              <div class="col-md-4 col-lg-8">
                {{data?.quantity}}
              </div>
            </div>
            <div class="row mb-2" >
              <div class="col-md-4 col-lg-4">
                <strong>Unit</strong>
              </div >
              <div class="col-md-4 col-lg-8">
                {{data?.unit}}
              </div>
            </div>






          </div>










          <!--

          <div class="row mb-2">

            <div class="col-md-4 col-lg-4">
              Created Date
            </div>
            <div class="col-md-4 col-lg-4" *ngFor="let data of DataValues">
              {{DataValues?.created_date | date}}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
             Fullname
            </div>
            <div class="col-md-4 col-lg-4" *ngFor="let data of DataValues">
              {{DataValues?.fname}} {{DataValues?.lname}}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
             Product name
            </div>
            <div class="col-md-4 col-lg-4" *ngFor="let data of DataValues">
              {{DataValues?.prodname}}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Dosage
            </div>
            <div class="col-md-4 col-lg-4" *ngFor="let data of DataValues">
              {{DataValues?.dosage}}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Medicine Type
            </div>
            <div class="col-md-4 col-lg-4" *ngFor="let data of DataValues">
              {{DataValues?.medtype}}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Quantity
            </div>
            <div class="col-md-4 col-lg-4" *ngFor="let data of DataValues">
              {{DataValues?.quantity}}
            </div>
          </div>


          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Unit
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.unit}}
            </div>
          </div>


-->



        </div>
      </div>
  </div>






<!-- end -->

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <!-- <button mat-raised-button (click)="onSubmit()">Submit</button> -->
</mat-dialog-actions>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>


