<div class="container-fluid ">

  <div style="border: 1px solid #000; border-radius: 10px; padding: 20px;" class="mt-5">


    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div style="display: flex; justify-content: center;">
          <div class="mr-2">
            <img style="width: 150px; height: 150px;"
              src="https://tse3.mm.bing.net/th?id=OIP.BA5OYmrurnQV_lhfQ9cHMAHaGw&pid=Api&P=0" alt="">
          </div>
          <div style="padding-top: 70px;">
            <span class="title-res" >
              <div class="text-center">Poverty and Health Monitoring </div>
              <div class="text-break">System San Jose Sto. Tomas Pangasinan</div>
            </span>
          </div>
          <div>
            <img style="width: 150px; height: 150px;"
              src="https://tse3.mm.bing.net/th?id=OIP.BA5OYmrurnQV_lhfQ9cHMAHaGw&pid=Api&P=0" alt="">
          </div>
        </div>
      </div>
    </div>

    <div style="width: 100%; height: 4px; background-color: #000;" class="mb-5 mt-4"></div>
    <!--
    <div class="row">
      <div class="col-md-6 col-lg-12 col-sm-6 col-6">
        <input type="text" class="form-control">
      </div>
      <div class="col-md-6 col-lg-12 col-sm-6 col-6">
        <input type="text" class="form-control">
      </div>
    </div> -->

    <div class="row">
      <div class="col-md-2 col-lg-2">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-6">
        <h1>
          Personal Information for Children
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-lg-2">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-6">
        <label for="">
          Fullname : asdasd
        </label>
      </div>
    </div>


    <hr>


    <div class="row">
      <div class="col-md-2 col-lg-2">
      </div>
      <div class="col-md-8 col-lg-8">
        <div class="card">
          <div class="card-header text-center">
            recomendation
          </div>
          <div class="card-body">



            <ul>
            </ul>



          </div>
        </div>
      </div>
      <div class="col-md-2 col-lg-2">
      </div>
    </div>


    <!-- end of border -->
  </div>

</div>
