@media (min-width: 576px) {

  .title-res{
    font-size: 14px;
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .title-res{
    font-size: 24px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
   .title-res{
    font-size: 14px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .title-res{
    font-size: 24px;
  }
 }
