
<h2 mat-dialog-title>View Medicine Information</h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">

  <!-- //start -->

  <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">

          <div class="row mb-2">

            <div class="col-md-4 col-lg-4">
              Created Date
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.created_date|date}}
            </div>
          </div>


          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Batch No.
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.bacthno}}
            </div>
          </div>


          <!-- // -->


          <div class="row mb-2">

            <div class="col-md-4 col-lg-4">
              Product Name
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.prodname}}
            </div>
          </div>


          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Generic  Name
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.gname}}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Dosage
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.dosage}}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Medcine Type
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.medtype}}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Manufacturer
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.manufacturer}}
            </div>
          </div>


           <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Manufacturing Date
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.manufacturingdate | date}}
            </div>
          </div>


          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Expiration Date
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.exdate | date}}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Quantity
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.quantity}}
            </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
             Unit
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.unit}}
            </div>
          </div>









        </div>
      </div>
  </div>






<!-- end -->

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <!-- <button mat-raised-button (click)="onSubmit()">Submit</button> -->
</mat-dialog-actions>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

