<h2 mat-dialog-title>Resident Medicine Records</h2>
<mat-dialog-content style="width: 1200px;" class="mat-typography">

  <!-- //start -->

  <div class="container">
    <div class="row">

      <div class="col-md-4 co-lg-4" >
        <!--
        <div class="col-md-4 co-lg-4" >

              <mat-form-field appearance="fill" >
              <mat-label >Choose a date</mat-label>
              <input matInput [matDatepicker]="picker">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>
        </div>
        -->

        <div class="row form-group">
          <div class="col-md-6 col-lg-6">
            <label for=""><strong>Residents Name</strong></label>
          </div>
          <div class="col-md-6 col-lg-6">
            <label for="">{{singleData?.fname}} &nbsp; {{singleData?.mname}} &nbsp; {{singleData?.lname}}</label>
          </div>
        </div>

        <div class="row form-group">
          <div class="col-md-6 col-lg-6">
            <label for=""><strong>Age</strong></label>
          </div>
          <div class="col-md-6 col-lg-6">
            <label for="">{{singleData?.age}}</label>
          </div>
        </div>

        <div class="row form-group mb-3">
          <div class="col-md-6 col-lg-6">
            <label for=""><strong>Status</strong></label>
          </div>
          <div class="col-md-6 col-lg-6">
            <label for="">
              <div *ngIf="singleData?.age <= 12">
                Child 👶
              </div>

              <div *ngIf="singleData?.age >= 13 && singleData?.age <= 19">
                Teen ager 👧
              </div>

              <div *ngIf="singleData?.age >= 20 && singleData?.age <= 59">
                Adult 🧑
              </div>

              <div *ngIf="singleData?.age >= 60">
                Senior 👴
              </div>
            </label>
          </div>
        </div>


        <div class="row form-group">
          <div class="col-md-12 col-lg-12">
            <label for=""><strong>Medical History</strong></label>
          </div>
          <div class="col-md-12 col-lg-12">
              <textarea name="" readonly id="" [value]="singleData?.medical_history" class="form-control" cols="30" rows="10"></textarea>
          </div>
        </div>




        <!-- <div class="row form-group">
          <div class="col-md-6 col-lg-6">
            <label for=""><strong>Health Status</strong></label>
          </div>
          <div class="col-md-6 col-lg-6">
            <label for="">{{singleData?.age}}</label>
          </div>
        </div> -->




      </div>

      <!--  -->

      <div class="col-md-4 col-lg-4">
        <!-- <div class="row">
          <div class="col-md-12 col-lg-12">
            <label for="">
              Patient Diagnosis
            </label>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>Sakit</mat-label>
              <mat-select>
                <mat-option>Diabetes</mat-option>

              </mat-select>
            </mat-form-field>
          </div>
        </div> -->
        <form [formGroup]="medicineform">

          <div class="row" hidden>

            <div class="col-md-12 col-lg-12">
              <label for="">
                Medicines
              </label>
              <input type="text" class="form-control" formControlName="med_name" [value]="getSelectedData?.data?.gname ">
            </div>
          </div>

          <div class="row">

            <div class="col-md-12 col-lg-12">
              <label for="">
                Medicines
              </label>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Medicines</mat-label>
                <mat-select (selectionChange)="selectMed($event)" formControlName="med_id">
                  <mat-option *ngFor="let med of getAllData" [value]="med.id">{{med.gname}}</mat-option>

                </mat-select>
              </mat-form-field>
            </div>
          </div>




          <div class="row">
            <div class="col-md-12 col-lg-12">
              <label for="">
                Medicine Type
              </label>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Medicine Type</mat-label>
                <input matInput readonly formControlName="med_type" [value]="getSelectedData?.data.medtype ">
                <!-- <mat-select formControlName="med_type">
                  <mat-option *ngFor="let med of getAllData?.data" [value]="med?.medtype">{{med?.medtype}}</mat-option>

                </mat-select> -->
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <label for="">
                Dosage
              </label>
              <mat-form-field class="example-full-width">
                <mat-label>Dosage</mat-label>
                <input matInput readonly [value]="getSelectedData?.data.dosage " formControlName="med_dosage">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <label for="">
                Available Stock
              </label>
              <mat-form-field class="example-full-width">
                <mat-label>Stock</mat-label>
                <input matInput readonly [value]="getSelectedData?.data.quantity" formControlName="med_available">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <label for="">
                Manufaturing Date
              </label>
              <mat-form-field class="example-full-width">
                <mat-label> Expiation Date</mat-label>
                <input matInput readonly [value]="getSelectedData?.data.manufacturingdate | date "
                  formControlName="med_manufacturing">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <label for="">
                Expiation Date
              </label>
              <mat-form-field class="example-full-width">
                <mat-label> Expiation Date</mat-label>
                <input matInput readonly [value]="getSelectedData?.data.exdate | date " formControlName="med_exdate">
              </mat-form-field>
            </div>
          </div>



          <!-- <div class="row form-group mb-4">
            <div class="col-md-12 col-lg-12">
              <div>
                <div style="float:right">
                  <button (click)="onAdd()" mat-raised-button class="btn btn-primary btn-block">ADD</button>
                </div>
              </div>
            </div>
          </div> -->

          <div class="row" *ngIf="!quantityshow">
            <div class="col-md-12 col-lg-12">
              <label for="">
                Quantity
              </label>
              <mat-form-field class="example-full-width">
                <mat-label>Quantity</mat-label>
                <input formControlName="quantity" placeholder="Please enter a quantity" matInput (change)="quantityChange($event, getSelectedData?.data.quantity)">
                <mat-error *ngIf="medicineform.get('quantity').errors && medicineform.get('quantity').touched">
                  Maximum of <span><b>2pcs</b></span>
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <label for="">
               Unit
              </label>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Unit</mat-label>
                <input matInput readonly formControlName="unit" [value]="getSelectedData?.data.unit ">
                <!-- <mat-select formControlName="med_type">
                  <mat-option *ngFor="let med of getAllData?.data" [value]="med?.medtype">{{med?.medtype}}</mat-option>

                </mat-select> -->
              </mat-form-field>
            </div>
          </div>


        </form>


      </div>


      <!-- <div class="col-md-4 col-lg-4">
        <div class="card">
          <div class="card-body">
            <h1>hi</h1>
          </div>
        </div>
      </div> -->

    </div>
  </div>






  <!-- end -->

</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button  (click)="onSubmit()">Submit</button>
  <!-- <button mat-raised-button (click)="onSubmit()">Submit</button> -->
</mat-dialog-actions>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
