<h1>Announcement</h1>


<mat-tab-group>
  <mat-tab label="Malnourished">
    <!-- <div class="row mx-0 px-0">
      <div class="col-md-12 col-lg-12">
        <h3>
          Malnourished
        </h3>
      </div>
    </div> -->

    <div class="row mx-0 px-0 mt-4">
      <div class="col-md-12 col-lg-12">
        <table class="table thead-dark">
          <thead>
           <tr>
            <th></th>
            <th>Fulllname</th>
            <th>Zone</th>
            <th>Age</th>
            <th>Status</th>
           </tr>
          </thead>
          <tbody>
              <tr *ngFor="let malmourished of Malnourished">


                <td>{{malmourished?.user_id}}</td>
                <td>{{malmourished?.fname}} &nbsp;  &nbsp; {{malmourished?.mname}}  &nbsp; &nbsp; {{malmourished?.lname}}</td>
                <td>{{malmourished?.zone}}</td>
                <td>{{malmourished?.age}}</td>
                <td>{{malmourished?.child_status}}</td>


              </tr>
          </tbody>
        </table>
        <br>
        <div class="float-right mb-2">
          <div class="float-right">
            <button mat-raised-button  (click)="sendMalnourished()">Send</button>
          </div>
        </div>
      </div>
    </div>



  </mat-tab>
  <mat-tab label="Senior">
    <div class="row mx-0 px-0 mt-4">
      <div class="col-md-12 col-lg-12">
        <table class="table thead-dark">
          <thead>
           <tr>
            <th></th>
            <th>Fulllname</th>
            <th>Zone</th>
            <th>Age</th>
            <th>Status</th>
           </tr>
          </thead>
          <tbody>
              <tr *ngFor="let senior of Senior">


                <td>{{senior?.user_id}}</td>
                <td>{{senior?.fname}} &nbsp;  &nbsp; {{senior?.mname}}  &nbsp; &nbsp; {{senior?.lname}}</td>
                <td>{{senior?.zone}}</td>
                <td>{{senior?.age}}</td>
                <td>{{senior?.person_status}}</td>


              </tr>
          </tbody>
        </table>
        <br>
        <div class="float-right mb-2">
          <div class="float-right">
            <button mat-raised-button  (click)="sendSenior()">Send</button>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>
  <mat-tab label="Pregnant">

    <div class="row mx-0 px-0 mt-4">
      <div class="col-md-12 col-lg-12">
        <table class="table thead-dark">
          <thead>
           <tr>
            <th></th>
            <th>Fulllname</th>
            <th>Zone</th>
            <th>Age</th>
            <th>Status</th>
           </tr>
          </thead>
          <tbody>
              <tr *ngFor="let pregnant of Pregnant">


                <td>{{pregnant?.user_id}}</td>
                <td>{{pregnant?.fname}} &nbsp;  &nbsp; {{pregnant?.mname}}  &nbsp; &nbsp; {{pregnant?.lname}}</td>
                <td>{{pregnant?.zone}}</td>
                <td>{{pregnant?.age}}</td>
                <td>{{pregnant?.person_status}}</td>


              </tr>
          </tbody>
        </table>
        <br>
        <div class="float-right mb-2">
          <div class="float-right">
            <button mat-raised-button  (click)="sendPregnant()">Send</button>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>



   <mat-tab label="Pwd">
    <div class="row mx-0 px-0 mt-4">
      <div class="col-md-12 col-lg-12">
        <table class="table thead-dark">
          <thead>
           <tr>
            <th></th>
            <th>Fulllname</th>
            <th>Zone</th>
            <th>No. Pwd</th>
            <th>Status</th>
           </tr>
          </thead>
          <tbody>
              <tr *ngFor="let pwd of Pwd">


                <td>{{pwd?.id}}</td>
                <td>{{pwd?.fullname}}</td>
                <td>{{pwd?.zone}}</td>
                <td>{{pwd?.pwd}}</td>
                <td>

                  <div *ngIf="pwd?.pwdMember == 1">
                    Pwd
                  </div>

                </td>


              </tr>
          </tbody>
        </table>
        <br>
        <div class="float-right mb-2">
          <div class="float-right">
            <button mat-raised-button  (click)="sendPwd()">Send</button>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>


  <mat-tab label="4P's">

    <div class="row mx-0 px-0 mt-4">
      <div class="col-md-12 col-lg-12">
        <table class="table thead-dark">
          <thead>
           <tr>
            <th></th>
            <th>Fulllname</th>
            <th>Zone</th>
            <th>No. 4P's</th>
            <th>Status</th>
           </tr>
          </thead>
          <tbody>
              <tr *ngFor="let fourps of Fourps">


                <td>{{fourps?.id}}</td>
                <td>{{fourps?.fullname}}</td>
                <td>{{fourps?.zone}}</td>
                <td>{{fourps?.fourps}}</td>
                <td>

                  <div *ngIf="fourps?.fourps == 1">
                    4P's
                  </div>

                </td>


              </tr>
          </tbody>
        </table>
        <br>
        <div class="float-right mb-2">
          <div class="float-right">
            <button mat-raised-button  (click)="sendSenior()">Send</button>
          </div>
        </div>
      </div>
    </div>

  </mat-tab>



</mat-tab-group>
