<h2 mat-dialog-title>Update User Account </h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">

  <!-- //start -->

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">

        <!-- start -->
        <form [formGroup]="adduser">



          <div class="row">
            <div class="col-md-12 col-lg-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput>
              </mat-form-field>
            </div>
          </div>


          <div class="row mb-3">
            <div class="col-md-12 col-lg-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Email Address</mat-label>
                <input formControlName="mail_address" matInput>
              </mat-form-field>
            </div>
          </div>


          <div class="row mb-3">
            <div class="col-md-12 col-lg-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Password</mat-label>
                <input formControlName="password" matInput>
              </mat-form-field>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-12 col-lg-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Re-type Password</mat-label>
                <input type="password" formControlName="retypepassword" matInput>
              </mat-form-field>
            </div>
          </div>


          <div class="row mb-3">
            <div class="col-md-12 col-lg-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>User Role</mat-label>
                <mat-select formControlName="user_role">
                  <mat-option *ngFor="let roles of Role" [value]="roles.value">
                    {{roles.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>







        </form>







          <!-- end -->
      </div>
    </div>
  </div>






  <!-- end -->

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="onSubmit()">Update</button>
</mat-dialog-actions>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
