
<div id="header" class="border border-primary">
    <h3>  <span class="material-icons">admin_panel_settings{{data_local?.name}} </span></h3>
</div>


<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <img src="../../../assets/287205065_491755816038972_7988546202239820392_n.png" (click)="toggleBrand()" height="50"
      width="50" alt="">
    <div class="logo-text" @fadeOut *ngIf="collapsed"><small>PH - Poverty Health System</small></div>
    <button class="btn-close" *ngIf="collapsed" (click)="closeSideNav()">
      <i class="fa fa-times close-icons"></i>
    </button>
  </div>
<!--
  <hr>
  <div>
    <h1>{{data_local?.name}}</h1>
  </div>
  <hr> -->
  <ul class="sidenav-nav">
    <li class="sidenav-nav-item" *ngIf="data_local?.role == 0 || data_local?.role == 1|| data_local?.role == 2" >
      <a routerLink="/pages/admin/dashboard" class="sidenav-nav-link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <!-- <i class="sidenav-link-icon fa-regular fa-chart-line"></i> -->
        <mat-icon class="sidenav-link-icon" aria-hidden="false" aria-label="Example home icon">dashboard</mat-icon>
        <span @fadeOut class="sidenav-link-text" *ngIf="collapsed">Dashboard</span>
      </a>
    </li>

    <li class="sidenav-nav-item" >
      <a routerLink="/pages/admin/user-info" class="sidenav-nav-link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="sidenav-link-icon" aria-hidden="false" aria-label="Example home icon">people_alt</mat-icon>
        <!-- <i class="sidenav-link-icon"></i> -->
        <span class="sidenav-link-text" *ngIf="collapsed">Residents Information</span>
      </a>
    </li>
    <li class="sidenav-nav-item" >
      <a routerLink="/pages/admin/poverty-info" class="sidenav-nav-link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="sidenav-link-icon" aria-hidden="false" aria-label="Example home icon">diversity_3</mat-icon>
        <!-- <i class="sidenav-link-icon"></i> -->
        <span class="sidenav-link-text" *ngIf="collapsed">Poverty Records</span>
      </a>
    </li>
    <li class="sidenav-nav-item" *ngIf="data_local?.role == 0 || data_local?.role == 1|| data_local?.role == 2" >
      <a routerLink="/pages/admin/announcement" class="sidenav-nav-link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="sidenav-link-icon" aria-hidden="false" aria-label="Example home icon">campaign</mat-icon>
        <!-- <i class="sidenav-link-icon"></i> -->
        <span class="sidenav-link-text" *ngIf="collapsed">Announcement</span>
      </a>
    </li>
    <li class="sidenav-nav-item" *ngIf="data_local?.role == 0 || data_local?.role == 1">
      <a routerLink="/pages/admin/patient-list" class="sidenav-nav-link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">

        <mat-icon class="sidenav-link-icon" aria-hidden="false" aria-label="Example home icon">enhanced_encryption
        </mat-icon>
        <span class="sidenav-link-text" *ngIf="collapsed">Residents Medicine</span>
      </a>
    </li>
    <li class="sidenav-nav-item" *ngIf="data_local?.role == 0 || data_local?.role == 1">
      <a routerLink="/pages/admin/inventory-dashboard" class="sidenav-nav-link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="sidenav-link-icon" aria-hidden="false" aria-label="Example home icon">medication</mat-icon>
        <span class="sidenav-link-text" *ngIf="collapsed">Medicine Information</span>
      </a>
      <!-- <a href="" class="sidenav-nav-link">
        <mat-icon class="sidenav-link-icon" aria-hidden="false" aria-label="Example home icon">inventory</mat-icon>
        <span class="sidenav-link-text" *ngIf="collapsed">Inventory Mngt.</span>
      </a> -->
    </li>
    <li class="sidenav-nav-item" *ngIf="data_local?.role == 0 || data_local?.role == 1 ">
      <a routerLink="/pages/admin/medicine-info" class="sidenav-nav-link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <mat-icon class="sidenav-link-icon" aria-hidden="false" aria-label="Example home icon">inventory</mat-icon>
        <span class="sidenav-link-text" *ngIf="collapsed">Medicine Inventory</span>
      </a>
    </li>

    <li class="sidenav-nav-item"  *ngIf="data_local?.role == 0 || data_local?.role == 1|| data_local?.role == 2">
      <a [matMenuTriggerFor]="reports" class="sidenav-nav-link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">
        <!-- routerLink="/pages/admin/reports" class="sidenav-nav-link"
        routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" -->
        <mat-icon class="sidenav-link-icon" aria-hidden="false" aria-label="Example home icon">addchart</mat-icon>
        <span class="sidenav-link-text" *ngIf="collapsed">Reports</span>
      </a>
      <mat-menu #reports="matMenu">
        <button mat-menu-item routerLink="/pages/admin/reports">Health Status Records</button>
        <button mat-menu-item routerLink="/pages/admin/poverty-reports">Poverty Records</button>
      </mat-menu>
    </li>
    <li class="sidenav-nav-item" *ngIf=" data_local?.role==0"  >
      <a routerLink="/pages/admin/user-account" class="sidenav-nav-link" routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}">

        <mat-icon class="sidenav-link-icon" aria-hidden="false" aria-label="Example home icon">manage_accounts
        </mat-icon>
        <span class="sidenav-link-text" *ngIf="collapsed">Account</span>
      </a>
    </li>
    <li class="sidenav-nav-item"  >
      <a class="sidenav-nav-link" (click)="logout()">

        <mat-icon class="sidenav-link-icon" aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
        <span class="sidenav-link-text" *ngIf="collapsed">Log Out</span>
      </a>
    </li>
  </ul>

</div>


<app-body>
  [collapsed]="isSideNavCollapsed"
  [screenWidth]="screenWidth"
</app-body>
