<h1>Poverty Reports</h1>

<form [formGroup]="usersreport">

  <!-- <div class="row"> -->
    <!-- <div class="col-md-2 col-lg-2">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Please select one</mat-label>
        <mat-select formControlName="dates">
          <mat-option *ngFor="let date of dates" [value]="date.value" (onSelectionChange)="selectChange($event)">
            {{date.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->

    <!-- <div class="col-md-2 col-lg-2">
      <mat-form-field class="example-full-width" appearance="fill" *ngIf="!day">
        <mat-label>Please select a date</mat-label>
        <input matInput [matDatepicker]="manpicker" formControlName="days">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="manpicker"></mat-datepicker-toggle>
        <mat-datepicker touchUi #manpicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill" *ngIf="!month">
        <mat-label>Please select month</mat-label>
        <mat-select formControlName="months">
          <mat-option *ngFor="let month of months" [value]="month.code" (onSelectionChange)="selectChange($event)">
            {{month.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill" *ngIf="!year">
        <mat-label>Please select year</mat-label>
        <mat-select formControlName="years">
          <mat-option *ngFor="let year of yearList" [value]="year.name">
            {{year.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

  </div> -->


  <div class="row">
    <div class="col-md-2 col-lg-2">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Please select zone</mat-label>
        <mat-select formControlName="zones">
          <mat-option *ngFor="let zone of zones" [value]="zone.value">
            {{zone.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <!-- <div class="col-md-2 col-lg-2">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Please select status</mat-label>
        <mat-select formControlName="status">
          <mat-option *ngFor="let type of types" [value]="type.name" (onSelectionChange)="selectStatus($event)">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div> -->
    <!-- <div class="col-md-2 col-lg-2" *ngIf="!child">
    <mat-form-field class="example-full-width" appearance="fill" >
      <mat-label>Please select child status</mat-label>
      <mat-select formControlName="child_status">
        <mat-option *ngFor="let childstat of childstats" [value]="childstat.name">
          {{childstat.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
    <div class="col-md-2 col-lg-2">
      <button mat-raised-button color="primary" (click)="onSubmit()">Generate Report</button>
    </div>
  </div>
</form>


<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="d-flex justify-content-end">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button mat-raised-button class="mr-2" color="primary">PDF</button>
        <button mat-raised-button class="mr-2" color="primary">EXCEL</button>
        <button mat-raised-button color="primary" printSectionId="print-section" ngxPrint>PRINT</button>
      </div>
    </div>
  </div>
</div>

<div >
  <!-- <div class="row px-0 mx-0 mt-2 mb-1">
  <div class="col-md-4 col-lg-4  px-0 mx-0" style="padding-top: 18px;">
    <input matInput type="text" #inp>
    <button  class="" mat-raised-button >
      Search
    </button>

    <div class="wrap">
      <div class="search">
        <input   #inp class="searchTerm">
        <button (click)="applyFilter(inp.value)" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
  </div>

  </div>
  <div class="col-md-8 col-lg-8  px-0 mx-0">
    <div style="float: right ;">
      <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
      [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div> -->

  <table mat-table [dataSource]="dataSource"  >

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td style="max-width:30px;" mat-cell *matCellDef="let element; let i = index">
        {{i + (this.paginate.pageSize * this.paginate.page) + 1}}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="house">
      <th mat-header-cell *matHeaderCellDef> House Head </th>
      <td mat-cell *matCellDef="let element"> {{element.fullname}}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="social">
      <th mat-header-cell *matHeaderCellDef> Social Status </th>
      <td mat-cell *matCellDef="let element"> {{element.mincome}} </td>
    </ng-container>
    `
    <!-- Symbol Column -->
    <ng-container matColumnDef="4ps">
      <th mat-header-cell *matHeaderCellDef> 4PS </th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element?.fourps == 1;else nofourps">
          <span class="text-success">Yes</span>
        </div>

        <ng-template #nofourps>
          NO
        </ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="pwd">
      <th mat-header-cell *matHeaderCellDef>Pwd </th>
      <td style="max-width:300px;" mat-cell *matCellDef="let element">
        <div *ngIf="element?.pwdMember == 1;else nopwd">
          <span class="text-success">Yes</span>
        </div>

        <ng-template #nopwd>
          NO
        </ng-template>
       </td>
    </ng-container>

    <ng-container matColumnDef="zone">
      <th mat-header-cell *matHeaderCellDef> Zone </th>
      <td mat-cell *matCellDef="let element"> {{element.zone}} </td>
    </ng-container>





    <!-- controls -->
    <ng-container matColumnDef="date" style="text-align:right;">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element">
        {{element.created_date | date}}
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  <div *ngIf="!dataSource">
    No records found
  </div>

</div>


<div id="print-section" style="display: none;">

  <div class="container">
    <div class="d-flex">
      <header><img src="../../../assets/barangay san jose.jpg" height="160" width="160" alt="">
        <div>
          <img style="width: 250px; height: 250px; margin-top: -200px; margin-left: 900px;"
            src="../../../assets/287205065_491755816038972_7988546202239820392_n.png" alt="">
        </div>

      </header>

    <h1
    style="font-size: 35px;
    align-items: center;
    font-weight: bolder;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
    margin-top: -150px;
    margin-left: 175px;

    ">Poverty and Health Monitoring System</h1>
    <h1
    style="font-size: 35px;
    align-items: center;
    font-weight: bolder;
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;

    margin-left: 240px;

    ">

      San Jose Sto. Tomas Pangasinan</h1>

    <br>
    <br>

    <h3>Name:___________________________________</h3>
    <h3>Date:____________________________________</h3>
    </div>

    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div>
          <h3
          style="display: flexbox;
          font-style: italic;
          ">
            Note:This attachment will show the social status of the barangay residents.</h3>

          <table class="table center"
          style=" margin-left: auto;
          margin-right: auto; width: 100%;
          text-align: center; margin-top: 50px; ">

              <thead>
                <tr  >
                  <th  style="text-align: left;border: 1px solid; border-collapse: collapse">Househead</th>
                  <th style="  border: 1px solid;  border-collapse: collapse">Social Status</th>
                  <th style="  border: 1px solid;">4Ps</th>
                  <th style="  border: 1px solid;">PWD</th>
                  <th style="  border: 1px solid;">Zone</th>
                  <th style="  border: 1px solid;">Date</th>
                </tr>
              </thead>
                          <tbody>
                            <tr *ngFor="let data of getAllData?.data">
                              <td style="text-align: left;border: 1px solid;">{{data?.fullname}} </td>
                              <td style="  border: 1px solid;">{{data?.mincome}}</td>
                              <td style="  border: 1px solid;">
                                <div *ngIf="data?.fourps == 1 ;">
                                <span class="text-success">Yes</span></div>
                                      <div *ngIf="data?.fourps == 2 ;">
                                        <span class="text-success">No</span>
                                    </div>
                              </td>
                              <td style="  border: 1px solid;">
                                <div *ngIf="data?.pwdMember== 1 ;">
                                <span class="text-success">Yes</span></div>
                                      <div *ngIf="data?.pwdMember == 2 ;">
                                        <span class="text-success">No</span>
                                    </div>
                              </td>
                              <td style="  border: 1px solid;">{{data?.zone}}</td>


                              <td style="  border: 1px solid;">{{data?.created_date| date}}</td>

                            </tr>
                          </tbody>







          </table>

          <h3
          style="text-align: right;
          margin-top: 500px;">
          ________________________

          </h3>


          <h3
          style="text-align: right;
          font-style: italic;">
          Signature over printed name

          </h3>

        </div>
      </div>
    </div>



  </div>

</div>



<div class="row mt-5">
  <div class="col-md-3 col-lg-3"></div>
  <div class="col-md-6 col-lg-6">
    <div class="pie" >
      <canvas  id="piechart"></canvas>
    </div>
  </div>
  </div>
