<h1>Medicine Information</h1>
<body >

<div id="print-section">

    <header><img src="../../../assets/barangay san jose.jpg" height="160" width="160" alt="">
      <div>
        <img style="width: 250px; height: 250px; margin-top: -200px; margin-left: 900px;"
          src="../../../assets/287205065_491755816038972_7988546202239820392_n.png" alt="">
      </div>

    </header>

  <h1
  style="font-size: 35px;
  align-items: center;
  font-weight: bolder;
  font-style: normal;
  font-family: 'Courier New', Courier, monospace;
  margin-top: -150px;
  margin-left: 175px;

  ">Poverty and Health Monitoring System</h1>
  <h1
  style="font-size: 35px;
  align-items: center;
  font-weight: bolder;
  font-style: normal;
  font-family: 'Courier New', Courier, monospace;

  margin-left: 240px;

  ">

    San Jose Sto. Tomas Pangasinan</h1>

  <br>
  <br>

  <h3>Name:___________________________________</h3>
  <h3>Date:____________________________________</h3>

  <h3
  style="display: flexbox;
  font-style: italic;
  ">
    Note:This attachment will show the remaining stocks of medicine in the barangay.</h3>
  <table class="table center" style=" border: 1px solid; margin-left: auto;
  margin-right: auto; width: 100%; text-align: center; margin-top: 50px;" >
    <thead>
      <tr>
        <th >Batch no.</th>
        <th >Product name</th>
        <th>Medicine Type</th>
        <th>Dosage</th>
        <th>Stocks</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of getAllData.data">
          <td>{{row?.bacthno}}</td>
          <td>{{row?.prodname}}</td>
          <td>{{row?.medtype}}</td>
          <td>{{row?.dosage}}</td>
          <td>{{row?.quantity}}</td>

        </tr>
    </tbody>

  </table>
  <h3
  style="text-align: right;
  margin-top: 500px;">
  ________________________

  </h3>


  <h3
  style="text-align: right;
  font-style: italic;">
  Signature over printed name

  </h3>



</div>





</body>

<button mat-raised-button  printSectionId="print-section" ngxPrint class="bottom-right-end" style="position: fixed;" mat-fab color="warn" aria-label="Example icon button with a home icon">
  <mat-icon>print</mat-icon>
</button>


