<h2 mat-dialog-title>View Admin User Account </h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">

  <!-- //start -->

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">


        <div class="row mb-3">
          <div class="col-md-6 col-lg-6">
            Name
          </div>
          <div class="col-md-6 col-lg-6">
            {{DataValues?.name}}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6 col-lg-6">
            Email Address
          </div>
          <div class="col-md-6 col-lg-6">
            {{DataValues?.mail_address}}
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-6 col-lg-6">
            Type
          </div>
          <div class="col-md-6 col-lg-6">
            {{DataValues?.type}}
          </div>
        </div>


        <div class="row mb-3">
          <div class="col-md-6 col-lg-6">
            Role
          </div>
          <div class="col-md-4 col-lg-6" *ngIf="DataValues.role == 0">
           Admin
          </div>
          <div class="col-md-4 col-lg-6" *ngIf="DataValues.role == 1">
            Secretary
          </div>
          <div class="col-md-4 col-lg-6" *ngIf="DataValues.role == 2">
            BHW
          </div>
          <div class="col-md-4 col-lg-6" *ngIf="DataValues.role == 3">
            Household
          </div>
        </div>


        <div class="row mb-3">
          <div class="col-md-6 col-lg-6">
            Date Created
          </div>
          <div class="col-md-6 col-lg-6">
            {{DataValues?.created_date}}
          </div>
        </div>





      </div>
    </div>
  </div>






  <!-- end -->

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <!-- <button mat-raised-button (click)="onSubmit()">Submit</button> -->
</mat-dialog-actions>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
