

.bottom-right-end {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 19px;
}

table {
  width: 100%;
}




.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}



@media screen and (max-width: 1080) {
  //   th.mat-header-cell, td.mat-cell {
  //     text-align: center;
  //     border: 1px solid #CCC;
  //     padding: 0 !important;
  //     height: 20px;
  //     font-size: 14px !important;
  // }
  .heade_number{
    width: 50px !important;
  }
}
