<h1>Residents Medicine </h1>

<!-- start -->


<div class="row px-0 mx-0 mt-2 mb-1">
  <div class="col-md-4 col-lg-4  px-0 mx-0" style="padding-top: 18px;">
    <!-- <input matInput type="text" #inp>
        <button  class="" mat-raised-button >
          Search
        </button> -->

    <div class="wrap">
      <div class="search">
        <input #inp class="searchTerm">
        <button (click)="applyFilter(inp.value)" class="searchButton">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>

  </div>
  <div class="col-md-8 col-lg-8  px-0 mx-0">
    <div style="float: right ;">
      <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
        [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" cellpadding="2" cellspacing="0">

  <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->



  <!-- Position Column -->
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td style="width:50px;" mat-cell *matCellDef="let element; let i = index">
      {{i + (this.paginate.pageSize * this.paginate.page) + 1}}
    </td>
  </ng-container>


  <ng-container matColumnDef="fullname">
    <th mat-header-cell *matHeaderCellDef> Fullname </th>
    <td mat-cell *matCellDef="let element"> {{element.fname}} {{element.mname}} {{element.lname}} {{element.suffix}} </td>
  </ng-container>


  <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef> Age </th>
    <td mat-cell *matCellDef="let element"> {{element.age}} </td>
  </ng-container>



  <ng-container matColumnDef="sex">
    <th mat-header-cell *matHeaderCellDef> Sex </th>
    <td mat-cell *matCellDef="let element"> {{element.sex}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef> Medical history </th>
    <td mat-cell *matCellDef="let element"> {{element.medical_history}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Type </th>
    <td mat-cell *matCellDef="let element">
      <div *ngIf="element.age <= 12">
        Child 👶
      </div>

      <div *ngIf="element.age >= 13 && element.age <= 19">
        Teen ager 👧
      </div>

      <div *ngIf="element.age >= 20 && element.age <= 59">
        Adult 🧑
      </div>

      <div *ngIf="element.age >= 60">
        Senior 👴
      </div>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date Registered </th>
    <td mat-cell *matCellDef="let element"> {{element.created_date | date}} </td>
  </ng-container>


  <!-- controls -->
  <ng-container matColumnDef="controls" style="text-align:right;">
    <th mat-header-cell *matHeaderCellDef> Controls </th>
    <td mat-cell *matCellDef="let element">

      <div class="d-flex">

        <!-- <div> <button (click)="deleteUser(element.user_id)" mat-raised-button class="btn-danger"
            style="margin-right: 20px; width: 100px;">
            <mat-icon aria-hidden="false">delete</mat-icon> Delete
          </button></div>
        <div> <button (click)="editUser(element.user_id)" mat-raised-button class="btn-primary"
            style="margin-right: 20px; width: 100px;">
            <mat-icon aria-hidden="false">edit</mat-icon> Edit
          </button></div>
        <div> <button (click)="viewUser(element.user_id)" mat-raised-button class="btn-success"
            style="margin-right: 20px; width: 100px;">
            <mat-icon aria-hidden="false">visibility</mat-icon>View
          </button></div> -->

        <div> <button (click)="adduser(element.user_id)" mat-raised-button class="btn-success"
            style="margin-right: 20px; width: 100px;">
            <mat-icon aria-hidden="false">add_circle</mat-icon>Add
          </button></div>
          <div> <button (click)="viewUser(element.user_id)" mat-raised-button class="btn-success"
            style="margin-right: 20px; width: 100px;">
            <mat-icon aria-hidden="false">visibility</mat-icon>View
          </button></div>

      </div>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!-- end -->




<!-- <button (click)="adduser()" class="bottom-right-end" mat-fab color="warn"
aria-label="Example icon button with a home icon">
<mat-icon>add</mat-icon>
</button> -->
