
<h2 mat-dialog-title>View Poverty Information</h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">

  <!-- //start -->

  <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">


          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Fullname
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.fullname}}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Cellphone No.
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.cell_no}}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              <strong>Monthly family income</strong>
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.mincome}}
            </div>
          </div>



          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              <strong>Occupation</strong>
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.occupation}}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              <strong>No. of child studying in the family </strong>
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.studying}}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              <strong>No. of PWD in the family</strong>
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.pwd}}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              <strong> No. of Family Member</strong>
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.member}}
            </div>
          </div>


          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              <strong> Member of 4P'S in Present Time</strong>
             </div>
             <div class="col-md-4 col-lg-4" *ngIf="DataValues.fourps == 1">
               Yes
             </div>
             <div class="col-md-4 col-lg-4" *ngIf="DataValues.fourps == 2">
               No
             </div>
          </div>
          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              <strong> PWD Member</strong>
             </div>
             <div class="col-md-4 col-lg-4" *ngIf="DataValues.pwdMember == 1">
               Yes
             </div>
             <div class="col-md-4 col-lg-4" *ngIf="DataValues.pwdMember == 2">
               No
             </div>
             </div>

          <div class="row mb-2">
            <div class="col-md-12 col-lg-12">
             <strong> What Appliances/Gadgets do you have at your home</strong>
              <br>
              {{DataValues?.gadgets}}
            </div>
            <!-- <div class="col-md-4 col-lg-6">

            </div> -->
          </div>

          <div class="row mb-2">
            <div class="col-md-12 col-lg-12">
             <strong>Source of Water</strong>
              <br>
              {{DataValues?.water}}
            </div>
            <!-- <div class="col-md-4 col-lg-6">

            </div> -->
          </div>

          <div class="row mb-2">
            <div class="col-md-12 col-lg-12">
             <strong>Type of House</strong>
              <br>
              {{DataValues?.house}}
            </div>
            <!-- <div class="col-md-4 col-lg-6">

            </div> -->
          </div>






        </div>
      </div>
  </div>






<!-- end -->

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <!-- <button mat-raised-button (click)="onSubmit()">Submit</button> -->
</mat-dialog-actions>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

