<div class="container-fluid ">

  <div style="border: 1px solid #000; border-radius: 10px; padding: 20px;" class="mt-5">


    <div class="row">
      <div class="col-md-12 col-lg-12">
        <div style="display: flex; justify-content: center;">
          <div class="mr-2">
            <img style="width: 150px; height: 150px;" src="../../../assets/barangay san jose.jpg" alt="">
          </div>
          <div style="padding-top: 70px;">
            <span class="title-res">
              <div class="text-center"> Poverty and Health Monitoring System</div>
              <div class="text-break text-center"> San Jose Sto. Tomas Pangasinan</div>
            </span>
          </div>
          <div>
            <img style="width: 230px; height: 230px; margin-top: -35px; margin-right: -45px;"
              src="../../../assets/287205065_491755816038972_7988546202239820392_n.png" alt="">
          </div>
        </div>
      </div>
    </div>


    <div style="width: 100%; height: 4px; background-color: #000;" class="mb-5 mt-4"></div>
    <!--
          <div class="row">
            <div class="col-md-6 col-lg-12 col-sm-6 col-6">
              <input type="text" class="form-control">
            </div>
            <div class="col-md-6 col-lg-12 col-sm-6 col-6">
              <input type="text" class="form-control">
            </div>
          </div> -->

    <div class="row ">
      <div class="col-md-2 col-lg-2">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-6 font-weight-bold">
        <h1>
          Personal Information for Children
        </h1>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-2 col-lg-2">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-6 ">
        <label for="">
          <h3>Fullname: {{data?.fname}} &nbsp; {{data?.mname}} &nbsp; {{data?.lname}} </h3>
        </label>
      </div>
    </div>
    <div class="row">
          <div class="col-md-2 col-lg-2">
          </div>
          <div class="col-md-6 col-lg-6 col-sm-12 col-6">
            <label for="">
              <h3>Birthday:  {{data?.bdate | date}}</h3>
            </label>
          </div>
        </div>
          <div class="row">
            <div class="col-md-2 col-lg-2">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-6">
              <label for="">
                <h3>Age:  {{data?.age}}</h3>
              </label>
            </div>
          </div>

          <div class="row ">
            <div class="col-md-2 col-lg-2">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-6 ">
              <label for="">
                <h3>Type: {{data?.person_status}}</h3>
              </label>
            </div>
          </div>
            <div class="row">
              <div class="col-md-2 col-lg-2">
              </div>
              <div class="col-md-6 col-lg-6 col-sm-12 col-6">
                <label for="">
                  <h3>Sex:  {{data?.sex}}</h3>
                </label>
              </div>
            </div>
              <div class="row">
                <div class="col-md-2 col-lg-2">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-6">
                  <label for="">
                    <h3>Contact No.:  {{data?.cell_no}}</h3>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-lg-2">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-6">
                  <label for="">
                    <h3>Zone:  {{data?.zone}} </h3>
                  </label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-2 col-lg-2">
                </div>
                <div class="col-md-6 col-lg-6 col-sm-12 col-6">
                  <label for="">
                    <h3>Address:  {{data?.house_no}} &nbsp;  {{data?.barangay}} &nbsp;  {{data?.city}} &nbsp;  {{data?.province}}</h3>
                  </label>
                </div>
              </div>


    <div style="width: 100%; height: 1px; background-color: #F0ECEC;" class="mb-5 mt-4"></div>

    <div class="row ">
      <div class="col-md-2 col-lg-2">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-6 font-weight-bold">
        <h1>
          Health Status
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-lg-2">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-6">
        <label for="">
          <h3>Height: {{data?.child_height}}</h3>
        </label>
      </div>
    </div>

    <div class="row ">
      <div class="col-md-2 col-lg-2">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-6 ">
        <label for="">
          <h3>Weight: {{data?.child_weight}}</h3>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-lg-2">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-6">
        <label for="">
          <h3>Body Mass Index: {{data?.child_body_mass_index}}</h3>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-lg-2">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-6">
        <label for="">
          <h3>Status:
            <div *ngIf="data?.child_status == 'Normal' " class="text-success">
              <span>Normal</span>
            </div>

            <div *ngIf="data?.child_status == 'Underweight' " class="text-warning">
              <span>Underweight</span>
            </div>

            <div *ngIf="data?.child_status == 'Overweight' " class="text-danger">
              <span>Overweight</span>
            </div>



          </h3>
        </label>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-md-2 col-lg-2">
      </div>
      <div class="col-md-6 col-lg-6 col-sm-12 col-6">
        <label for="">
          <h3>Date Updated: {{data?.}}</h3>
        </label>
      </div>
    </div> -->


    <div style="width: 100%; height: 1px; background-color: #F0ECEC;" class="mb-5 mt-4"></div>

    <div *ngIf="data?.child_status == 'Normal' ">
      <div class="row">
        <div class=" col-md-8 col-lg-2"> </div>
        <div class=" col-md-8 col-lg-8">
          <div class="card">
            <div class="card-header text-break  text-center">
              Recommendation

            </div>
            <div class="card-body ">


              <div class="mb-3 mt-3">
                <strong>Normal - &nbsp;</strong><span class="text-warn">(18.5 - 24.9)</span>
              </div>


              <div style="text-align: center;" class="mb-3">
                You are a healthy person!
                <br>
                <br>Having a Good health means freedom from sickness and diseases. Also, good health means that you
                can do more work than your capacity without getting tired.
              </div>


              <div class="mb-3">
                <h3>When your weight is in a healthy range:</h3>
              </div>

              <div>
                <ul>
                  <li>Your body more efficiently circulates blood.</li>
                  <li>Your fluid levels are more easily managed.</li>
                  <li>You are less likely to develop diabetes, heart disease, certain cancers, gallstones,
                    osteoarthritis,
                    breathing problems and sleep apnea.</li>
                  <li>You may feel better about yourself and have more energy to make other positive health changes</li>

                </ul>
              </div>


            </div>

          </div>

        </div>


      </div>
    </div>

    <div *ngIf="data?.child_status == 'Underweight' ">
      <div class="row">
        <div class=" col-md-8 col-lg-2"> </div>
        <div class=" col-md-8 col-lg-8">
          <div class="card">
            <div class="card-header text-break  text-center">
              Recommendation

            </div>
            <div class="card-body ">


              <div class="mb-3 mt-3">
                <strong>Normal - &nbsp;</strong><span class="text-warn">(18.5 - 24.9)</span>
              </div>


              <div style="text-align: center;" class="mb-3">
                You are a healthy person!
                <br>
                <br>Having a Good health means freedom from sickness and diseases. Also, good health means that you
                can do more work than your capacity without getting tired.
              </div>


              <div class="mb-3">
                <h3>When your weight is in a healthy range:</h3>
              </div>

              <div>
                <ul>
                  <li>Your body more efficiently circulates blood.</li>
                  <li>Your fluid levels are more easily managed.</li>
                  <li>You are less likely to develop diabetes, heart disease, certain cancers, gallstones,
                    osteoarthritis,
                    breathing problems and sleep apnea.</li>
                  <li>You may feel better about yourself and have more energy to make other positive health changes</li>

                </ul>
              </div>


            </div>

          </div>

        </div>


      </div>
    </div>

    <div *ngIf="data?.child_status == 'Overweight' ">
      <div class="row">
        <div class=" col-md-8 col-lg-2"> </div>
        <div class=" col-md-8 col-lg-8">
          <div class="card">
            <div class="card-header text-break  text-center">
              Recommendation

            </div>
            <div class="card-body ">


              <div class="mb-3 mt-3">
                <strong>Normal - &nbsp;</strong><span class="text-warn">(18.5 - 24.9)</span>
              </div>


              <div style="text-align: center;" class="mb-3">
                You are a healthy person!
                <br>
                <br>Having a Good health means freedom from sickness and diseases. Also, good health means that you
                can do more work than your capacity without getting tired.
              </div>


              <div class="mb-3">
                <h3>When your weight is in a healthy range:</h3>
              </div>

              <div>
                <ul>
                  <li>Your body more efficiently circulates blood.</li>
                  <li>Your fluid levels are more easily managed.</li>
                  <li>You are less likely to develop diabetes, heart disease, certain cancers, gallstones,
                    osteoarthritis,
                    breathing problems and sleep apnea.</li>
                  <li>You may feel better about yourself and have more energy to make other positive health changes</li>

                </ul>
              </div>


            </div>

          </div>

        </div>


      </div>
    </div>






    <!-- end of border -->


















  </div>

</div>
