<!-- <div *ngIf="show; else  showlogin">

  <app-header-navigation (onToggleSideNav)="onToggleSideNav($event)"></app-header-navigation>
  <app-body >
    [collapsed]="isSideNavCollapsed"
    [screenWidth]="screenWidth"
  </app-body>

</div>

<ng-template #showlogin>
  <router-outlet></router-outlet>
</ng-template> -->


<router-outlet></router-outlet>
