<h2 mat-dialog-title>Update Person Information</h2>
<mat-dialog-content style="width: 900px;" class="mat-typography">

  <!-- //start -->

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">


        <form [formGroup]="formAddUser">


          <div class="row">
            <div class="col-md-3 col-lg-3">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>First name</mat-label>
                <input formControlName="fname" matInput>
              </mat-form-field>
            </div>
            <div class="col-md-3 col-lg-3">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Middle name</mat-label>
                <input formControlName="mname" matInput>
              </mat-form-field>
            </div>
            <div class="col-md-3 col-lg-3">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Last name</mat-label>
                <input formControlName="lname" matInput>
              </mat-form-field>
            </div>
            <div class="col-md-3 col-lg-3">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Suffix</mat-label>
                <input formControlName="suffix" matInput>
              </mat-form-field>
            </div>
          </div>

          <!--  -->

          <div class="row">
            <div class="col-md-4 col-lg-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Birth date</mat-label>
                <input matInput formControlName="bdate" readonly>
              </mat-form-field>
              <!-- <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="bdate" (dateChange)="onDateChange($event)">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field> -->
            </div>
            <div class="col-md-4 col-lg-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Age</mat-label>
                <input matInput formControlName="age" readonly>
              </mat-form-field>
            </div>
            <div class="col-md-4 col-lg-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Gender</mat-label>
                <input matInput formControlName="sex" readonly>
                <!-- <mat-select  formControlName="sex">
                  <mat-option *ngFor="let gender of genders" [value]="gender.value">
                    {{gender?.viewValue}}
                  </mat-option>
                </mat-select> -->
              </mat-form-field>
            </div>
            <!-- <div class="col-md-4 col-lg-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Lastname name</mat-label>
                  <input matInput>
                </mat-form-field>
              </div> -->
          </div>

        </form>





      </div>
    </div>
  </div>






  <!-- end -->

</mat-dialog-content>
<mat-dialog-actions  align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="onSubmit()">Submit</button>
</mat-dialog-actions>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
