<h2 mat-dialog-title>Add Resident Information</h2>
<mat-dialog-content style="width: 900px;" class="mat-typography">

  <!-- //start -->

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">


        <form [formGroup]="formAddUser">
          <div class="row">
            <div class="col-md-3 col-lg-3 col-sm-12">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>First name</mat-label>
                <input formControlName="fname" matInput required="">
                <!--Kapag gustong i required-->
                <mat-error *ngIf="formAddUser.get('fname').errors && formAddUser.get('fname').touched">
                  Firstname is <span><b>required</b></span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3 col-lg-3">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Middle name</mat-label>
                <input formControlName="mname" matInput>

              </mat-form-field>
            </div>
            <div class="col-md-3 col-lg-3">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Last name</mat-label>
                <input formControlName="lname" matInput required="">
                <mat-error *ngIf="formAddUser.get('lname').errors && formAddUser.get('lname').touched">
                  Lastname is <span><b>required</b></span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-3 col-lg-3">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Suffix</mat-label>
                <input formControlName="suffix" matInput>
              </mat-form-field>
            </div>
          </div>

          <!-- // -->

          <div class="row">
            <div class="col-md-4 col-lg-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput required="" [matDatepicker]="picker" formControlName="bdate" (dateChange)="onDateChange($event)">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="formAddUser.get('bdate').errors && formAddUser.get('bdate').touched">
                  Birtdate is <span><b>required</b></span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4 col-lg-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Age</mat-label>
                <input matInput formControlName="age" readonly required="">
              </mat-form-field>
            </div>
            <div class="col-md-4 col-lg-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label >Gender</mat-label>
                <mat-select (selectionChange)="genderOnChange($event)" formControlName="sex" required="">
                  <mat-option *ngFor="let food of foods" [value]="food.value">
                    {{food.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- <div class="col-md-4 col-lg-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Lastname name</mat-label>
                  <input matInput>
                </mat-form-field>
              </div> -->
          </div>

          <br>

          <h1>Address</h1>

          <div class="row">
            <div class="col-md-4 col-lg-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>House #</mat-label>
                <input matInput formControlName="house_no" required=""  (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
                <mat-error *ngIf="formAddUser.get('house_no').errors && formAddUser.get('house_no').touched">
                  House is <span><b>required</b></span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4 col-lg-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Zone</mat-label>

                <mat-select formControlName="zone" required="">
                  <mat-option *ngFor="let zones of zone" [value]="zones.value">
                    {{zones.viewValue}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="formAddUser.get('zone').errors && formAddUser.get('zone').touched">
                  Zone is <span><b>required</b></span>
                </mat-error>
                <!-- <input matInput  > -->
              </mat-form-field>
            </div>
          </div>


          <div class="row" style="display: none;" >
            <div class="col-md-4 col-lg-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Province</mat-label>
               <input matInput formControlName="province" >
                <!--<mat-error *ngIf="formAddUser.get('province').errors && formAddUser.get('province').touched">
                  Province is <span><b>required</b></span>
                </mat-error>-->
              </mat-form-field>
            </div>
            <div class="col-md-4 col-lg-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>City</mat-label>
                <input matInput formControlName="city">
               <!--<mat-error *ngIf="formAddUser.get('city').errors && formAddUser.get('city').touched">
                  City is <span><b>required</b></span>
                </mat-error> -->
              </mat-form-field>
            </div>
            <div class="col-md-4 col-lg-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Barangay</mat-label>
                <input matInput formControlName="barangay">
              <!--  <mat-error *ngIf="formAddUser.get('barangay').errors && formAddUser.get('barangay').touched">
                  Barangay is <span><b>required</b></span>
                </mat-error> -->
              </mat-form-field>
            </div>
          </div>


          <h1>Contact</h1>

          <div class="row">
            <div class="col-md-4 col-lg-4">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Cellphone No.</mat-label>
                <input matInput formControlName="cell_no" required=""  (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
                <mat-error *ngIf="formAddUser.get('cell_no').errors && formAddUser.get('cell_no').touched">
                  Cellphone number is <span><b>required</b></span>
                </mat-error>
                <mat-error
                  *ngIf="formAddUser.get('cell_no').errors?.minlength && formAddUser.get('cell_no').touched">
                  Must only contain <span><b>11 Digit</b></span>
                </mat-error>
                <mat-error
                  *ngIf="formAddUser.get('cell_no').errors?.pattern && formAddUser.get('cell_no').touched">
                  Mobile number is <span><b>Invalid</b></span>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4 col-lg-4">
              <!-- <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Gender</mat-label>
                  <input matInput>
                </mat-form-field> -->
            </div>
            <!-- <div class="col-md-4 col-lg-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Lastname name</mat-label>
                  <input matInput>
                </mat-form-field>
              </div> -->
          </div>


          <!-- //child -->

          <!--pwd -->

               <div class="row mb-3">
              <div class="col-md-6 col-lg-6">
               <span style="margin-right: 20px;"><h2>Are you pwd?</h2></span>
                <mat-radio-group aria-label="Select an option"  formControlName="pwd">
                  <mat-radio-button style="margin-right: 10px;" value="1">Yes</mat-radio-button>
                  <mat-radio-button  [checked]="true"  value="2">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>



          <hr>
          <div class="row">
            <label for="">Blood Pressure</label>
            <div class="col-md-6 col-lg-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Systolic mmHg</mat-label>
                <input matInput formControlName="systolic" >

              </mat-form-field>
            </div>
            <div class="col-md-6 col-lg-6">
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Diastolic mmHg</mat-label>
                <input matInput formControlName="diastolic">
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <label for="">Medical Hisory</label>
            <div class="col-md-12 col-lg-12">
              <angular-editor formControlName="medical_history" [config]="editorConfig"></angular-editor>
            </div>
          </div>

          <div *ngIf="child">
            <div class="row">
              <div class="col-md-3 col-lg-3">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Height in (m)</mat-label>
                  <input formControlName="childheight" type="number" (change)="onchangeH($event)" matInput >
                  <mat-error *ngIf="formAddUser.get('childheight').errors && formAddUser.get('childheight').touched">
                    Children height is <span><b>required</b></span>
                  </mat-error>

                </mat-form-field>
              </div>
              <div class="col-md-3 col-lg-3">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Mass in kilogram (kg) <span class="text-danger">*</span></mat-label>
                  <input formControlName="childkilo" type="number"  matInput (change)="onchangeW($event)">
                  <mat-error *ngIf="formAddUser.get('childkilo').errors && formAddUser.get('childkilo').touched">
                    Children weight is <span><b>required</b></span>
                  </mat-error>
                </mat-form-field>
              </div>


              <div class="col-md-3 col-lg-3">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Body Mass Index</mat-label>
                  <input formControlName="childmassindex" readonly matInput>
                </mat-form-field>
              </div>

              <div class="col-md-3 col-lg-3">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Child Status</mat-label>
                  <input formControlName="childstatus" readonly matInput>
                </mat-form-field>
              </div>


            </div>
            <!--  -->

            <div class="row mb-3" *ngIf="showreset">
              <div class="col-md-12 col-lg-12">
                <div class="d-flex justify-content-end">
                  <button mat-raised-button (click)="resetForm()">Reset</button>
                </div>
              </div>
            </div>



          </div>

          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div class="text-align-right">
                <div class="col-md-3 col-lg-3">

                </div>
              </div>
            </div>
          </div>

          <!--

             -->

          <!-- end child -->

          <div *ngIf="showfemale">
            <h3>Pregnant</h3>
            <mat-radio-group (change)="changePregnantRadio($event)" formControlName="pregnant_status"
              aria-labelledby="example-radio-group-label" class="example-radio-group">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
              <mat-radio-button value="N/A">N/A</mat-radio-button>
            </mat-radio-group>
            <br>
            <br>
            <h3>Are you taking maintenance</h3>
            <mat-radio-group formControlName="maintenance_pregnant" aria-labelledby="example-radio-group-label"
              class="example-radio-group">
              <mat-radio-button value="1">Yes</mat-radio-button>
              <mat-radio-button value="2">No</mat-radio-button>
              <mat-radio-button value="3">N/A</mat-radio-button>
            </mat-radio-group>
            <br>
            <br>
            <div *ngIf="showPregnantLastPeriod">
              <h3>Monthly last period</h3>
              <div class="row">
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Monthly laste period</mat-label>
                    <input matInput formControlName="last_period" (dateChange)="lastPeriodChange($event)" [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Estimated Birthmonth</mat-label>
                    <input formControlName="estimated_period" readonly matInput>
                    <!-- <input matInput formControlName="estimated_period" [matDatepicker]="picker" >
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #picker></mat-datepicker> -->
                  </mat-form-field>
                </div>
              </div>
            </div>


          </div>




          <div *ngIf="senior" class="mt-4">
            <h3>Are you taking maintenance</h3>
            <mat-radio-group (change)="cahngeSeniorRadio($event)" formControlName="maintenance_senior"
              aria-labelledby="example-radio-group-label" class="example-radio-group">
              <mat-radio-button value="1">Yes</mat-radio-button>
              <mat-radio-button  [checked]="true"  value="2">No</mat-radio-button>
              <mat-radio-button  value="3">N/A</mat-radio-button>
            </mat-radio-group>
            <br>
            <br>

            <div *ngIf="showSeniorMaintenance">
              <h3>What type of Maintenance do you take</h3>
              <div class="row">
                <div class="col-md-4 col-lg-4">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <!-- <mat-label>Monthly laste period</mat-label> -->
                    <textarea matInput formControlName="type_maintenance"></textarea>
                  </mat-form-field>
                </div>
              </div>
            </div>

          </div>




        </form>






      </div>
    </div>
  </div>






  <!-- end -->

</mat-dialog-content>
<mat-dialog-actions *ngIf="child && hidecalculate" align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="calculate()">Calculate</button>
</mat-dialog-actions>
<mat-dialog-actions *ngIf="showBtn" align="end">
  <button mat-raised-button mat-dialog-close>Close</button>
  <button mat-raised-button (click)="onSubmit()">Submit</button>
</mat-dialog-actions>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
