
.example-full-width {
  width: 100%;
}


.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}



@media screen and (max-width: 1080) {
  //   th.mat-header-cell, td.mat-cell {
  //     text-align: center;
  //     border: 1px solid #CCC;
  //     padding: 0 !important;
  //     height: 20px;
  //     font-size: 14px !important;
  // }
  .heade_number{
    width: 50px !important;
  }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .table1 {

    display: none;

    }

  .show-design-card{
    display: block;

  }



}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px )  {

   .table1 {

    display: none;

    }

  .show-design-card{
    display: block;

  }
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 720px) {

  .table1{

    display: none;

    }

    .show-design-card{
      display: block;
    }


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .table1{

    display: block;

    }

    .show-design-card{
      display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


