
<h2 mat-dialog-title>Add Medicine </h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">

  <!-- //start -->

  <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">
          <!-- start -->

            <form [formGroup]="medicineform">

              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Batch No.</mat-label>
                    <input formControlName="bacthno" matInput >
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Product Name</mat-label>
                    <input formControlName="prodname" matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Generic Name</mat-label>
                    <input formControlName="gname" matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Dosage</mat-label>
                    <input formControlName="dosage" matInput>
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label> Medicine type</mat-label>
                    <mat-select formControlName="medtype" >
                      <mat-option *ngFor="let medicine_types of medicine_type" [value]="medicine_types.value">
                        {{medicine_types.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Manufacturer</mat-label>
                    <input formControlName="manufacturer" matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Manufacturing Date</mat-label>
                    <!-- <input formControlName="manufacturingdate" matInput> -->


                    <input matInput [min]="mindate" [matDatepicker]="manpicker" formControlName="manufacturingdate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="manpicker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #manpicker></mat-datepicker>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Expiration Date</mat-label>
                    <!-- <input formControlName="exdate" matInput> -->

                    <input matInput [min]="expirydate"  [matDatepicker]="expicker" formControlName="exdate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="expicker"></mat-datepicker-toggle>
                    <mat-datepicker touchUi #expicker></mat-datepicker>



                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Quantity</mat-label>
                    <input formControlName="quantity" matInput>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-lg-12">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Unit</mat-label>
                    <mat-select formControlName="unit" >
                      <mat-option *ngFor="let units of unit" [value]="units?.value">
                        {{units?.viewValue}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>




            </form>


          <!-- end -->
        </div>
      </div>
  </div>






<!-- end -->

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSubmit()">Submit</button>
</mat-dialog-actions>

