<h1>Medicine Inventory</h1>

    <div class="row px-0 mx-0 mt-2 mb-1">
      <div class="col-md-4 col-lg-4  px-0 mx-0" style="padding-top: 18px;">
        <!-- <input matInput type="text" #inp>
        <button  class="" mat-raised-button >
          Search
        </button> -->

        <div class="wrap">
          <div class="search">
            <input   #inp class="searchTerm">
            <button (click)="applyFilter(inp.value)" class="searchButton">
              <i class="fa fa-search"></i>
            </button>
          </div>
      </div>

      </div>
      <div class="col-md-8 col-lg-8  px-0 mx-0">
        <div style="float: right ;">
          <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
          [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>

    <table mat-table [dataSource]="dataSource" >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

       <!-- Position Column -->
       <ng-container matColumnDef="no">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td style="width:300px;" mat-cell *matCellDef="let element; let i = index">
          {{i + (this.paginate.pageSize * this.paginate.page) + 1}}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="bacthno">
        <th mat-header-cell *matHeaderCellDef> Batch No. </th>
        <td mat-cell *matCellDef="let element"> {{element.bacthno}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="gname">
        <th mat-header-cell *matHeaderCellDef> Generic name </th>
        <td mat-cell *matCellDef="let element"> {{element.gname}} </td>
      </ng-container>
`
      <!-- Symbol Column -->
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Stocks </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="manufacturer">
        <th mat-header-cell *matHeaderCellDef> Manufacturer </th>
        <td mat-cell *matCellDef="let element"> {{element.manufacturer}}</td>
      </ng-container>

      <ng-container matColumnDef="expiration">
        <th mat-header-cell *matHeaderCellDef> Exp. Date </th>
        <td mat-cell *matCellDef="let element"> {{element.exdate | date}}</td>
      </ng-container>

      <ng-container matColumnDef="status_date">
        <th mat-header-cell *matHeaderCellDef> Status </th>
        <td mat-cell *matCellDef="let element">

          <div *ngIf="element.exdate <= today;else notExpired">
            <strong class="text-danger">Expired</strong>
          </div>

          <ng-template #notExpired>
            <strong class="text-success">Good</strong>
          </ng-template>


        </td>
      </ng-container>


      <!-- controls -->
      <ng-container matColumnDef="controls" style="text-align:right;">
        <th mat-header-cell *matHeaderCellDef> Controls </th>
        <td mat-cell *matCellDef="let element">

          <div class="d-flex">
           <div> <button (click)="deleteMedicineInfo(element.id)"  mat-raised-button   class="btn-danger" style="margin-right: 20px; width: 100px;"><mat-icon  aria-hidden="false">close</mat-icon> Delete</button></div>
           <div> <button (click)="editMedicineInfo(element.id)"    mat-raised-button   class="btn-primary" style="margin-right: 20px; width: 100px;"> <mat-icon  aria-hidden="false">edit</mat-icon>Edit</button></div>
           <div> <button (click)="viewMedicineInfo(element.id)"   mat-raised-button   class="btn-success"  style="margin-right: 20px; width: 100px;"><mat-icon  aria-hidden="false">visibility</mat-icon>View</button></div>
          </div>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>


    <!-- end -->




<button (click)="addmedicineinfo()" class="bottom-right-end" mat-fab color="warn" aria-label="Example icon button with a home icon">
  <mat-icon>add</mat-icon>
</button>


