
<h2 mat-dialog-title>Edit Poverty Information</h2>
<mat-dialog-content style="width: 900px;" class="mat-typography">

  <!-- //start -->

  <!-- <div class="container"> -->
      <div class="row mx-0 px-0">
        <div class="col-md-12 col-lg-12 px-0 mx-0">


          <form [formGroup]="formAddUser">

            <div class="row ">
              <div class="col-md-4 col-lg-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Name of Househead</mat-label>
                  <input formControlName="fullname" matInput>
                </mat-form-field>
              </div>

              <div class="col-md-4 col-lg-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Cellphone No.</mat-label>
                  <input matInput formControlName="cell_no"   (keypress)="($event.charCode >= 48 && $event.charCode < 58)">
                  <mat-error *ngIf="formAddUser.get('cell_no').errors && formAddUser.get('cell_no').touched">
                    Cellphone number is <span><b>required</b></span>
                  </mat-error>
                  <mat-error
                  *ngIf="formAddUser.get('cell_no').errors?.minlength && formAddUser.get('cell_no').touched">
                  Must only contain <span><b>11 Digit</b></span>
                </mat-error>
                <mat-error
                  *ngIf="formAddUser.get('cell_no').errors?.pattern && formAddUser.get('cell_no').touched">
                  Mobile number is <span><b>Invalid</b></span>
                </mat-error>
                </mat-form-field>
              </div>


              <div class="col-md-4 col-lg-4">
                  <!-- <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Monthly Family Income</mat-label>
                    <input formControlName="mincome" matInput>
                  </mat-form-field> -->

                  <mat-form-field appearance="fill" class="example-full-width" >
                    <mat-label>Monthly Family Income</mat-label>
                    <mat-select formControlName="mincome">
                      <mat-option value="Poor">POOR - 10,957</mat-option>
                      <mat-option value="LOW INCOME BUT NOT POOR">10,957 - 21,914</mat-option>
                      <mat-option value="LOWER MIDDLE">21,914 - 43,828</mat-option>
                      <mat-option value="MIDDLE">43,828 - 76,669</mat-option>
                      <mat-option value="UPPER MIDDLE">76,669 - 131,484</mat-option>
                      <mat-option value="UPPER MIDDLE TO RICH">131,483 - 219,140</mat-option>
                    </mat-select>
                  </mat-form-field>

                </div>

               <div class="col-md-4 col-lg-4">
                <!-- <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>Occupation</mat-label>
                  <input formControlName="occupation" matInput>
                </mat-form-field> -->
                <mat-form-field appearance="fill" class="example-full-width" >
                  <mat-label>Occupation</mat-label>
                  <mat-select formControlName="occupation">
                    <mat-option value="Skilled">Skilled</mat-option>
                    <mat-option value="Laborer">Laborer</mat-option>
                    <mat-option value="Profession">Profession</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>


            <div class="row form-group">
              <div class="col-md-4 col-lg-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>No. of Child Studying in the Family</mat-label>
                  <input formControlName="studying" matInput>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-lg-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>No. of PWD in the Family</mat-label>
                  <input formControlName="pwd" matInput>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-lg-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>No. of Family Member in the Family</mat-label>
                  <input formControlName="member" matInput>
                </mat-form-field>
              </div>
            </div>


            <div class="row form-group">
              <div class="col-md-4 col-lg-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>No. of the Family working</mat-label>
                  <input formControlName="working" matInput>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-lg-4">
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>No. of Children in the family</mat-label>
                  <input formControlName="children" matInput>
                </mat-form-field>
              </div>
              <div class="col-md-4 col-lg-4">

              </div>
            </div>

            <div class="row mb-3">
              <div class="col-md-6 col-lg-6">
               <span style="margin-right: 20px;"> Member of 4P'S in Present Time</span>
                <mat-radio-group aria-label="Select an option"  formControlName="fourps">
                  <mat-radio-button style="margin-right: 10px;" value="1">Yes</mat-radio-button>
                  <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-md-6 col-lg-6">
               <span style="margin-right: 20px;">Do you have PWD member in the family?</span>
                <mat-radio-group aria-label="Select an option"  formControlName="pwdMember">
                  <mat-radio-button style="margin-right: 10px;" value="1">Yes</mat-radio-button>
                  <mat-radio-button value="2">No</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>



            <div class="row">
              <div class="col-md-6 col-lg-6">
               <p class="fw-bold">What Appliances/Gadgets do you have at your home</p>

               <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select formControlName="gadgets" multiple>
                  <mat-option *ngFor="let topping of gadgets" [value]="topping">{{topping}}</mat-option>
                </mat-select>
              </mat-form-field>

              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-lg-6">
               <p class="fw-bold">Source of Water</p>
               <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select formControlName="water" multiple>
                  <mat-option *ngFor="let waters of water" [value]="waters">{{waters}}</mat-option>
                </mat-select>
              </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-lg-6">
               <p class="fw-bold">Type of House</p>
               <mat-form-field appearance="fill">
               <mat-label>Select</mat-label>
               <mat-select formControlName="house" multiple>
                 <mat-option *ngFor="let houses of house" [value]="houses">{{houses}}</mat-option>
               </mat-select>
               </mat-form-field>


              </div>
            </div>

            <!-- // -->




          </form>






        </div>
      </div>
  <!-- </div> -->






<!-- end -->

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button (click)="onSubmit()">Submit</button>
</mat-dialog-actions>



