
<h2 mat-dialog-title>Delete Information</h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">

  <!-- //start -->

  <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">



          <h3>Are you sure you want to delete this data?

          </h3>




        </div>
      </div>
  </div>






<!-- end -->

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>Cancel</button>
  <button mat-raised-button (click)="onSubmit()">Submit</button>
</mat-dialog-actions>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

