<h2 mat-dialog-title>
  <mat-icon class="icon" aria-hidden="false">info</mat-icon> Resident Information
</h2>
<mat-dialog-content style="width: 800px;" class="mat-typography">

  <!-- //start -->

  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-12">




        <div class="row mb-2">
          <div class="col-md-4 col-lg-4">
            Fullname
          </div>
          <div class="col-md-4 col-lg-4">
            {{DataValues?.fname}} {{DataValues?.mname}} {{DataValues?.lname}} {{DataValues?.suffix}}
            <!--Ito yung mga nasave na sa database tapos igeget niya n alang yung mga data using DataValues-->
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-4 col-lg-4">
            Birth Date
          </div>
          <div class="col-md-4 col-lg-4">
            {{DataValues?.bdate | date }}
          </div>
        </div>


        <div class="row mb-2">
          <div class="col-md-4 col-lg-4">
            Age
          </div>
          <div class="col-md-4 col-lg-4">
            {{DataValues?.age}}
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-4 col-lg-4">
            Type
          </div>
          <div class="col-md-4 col-lg-4">
            <div *ngIf="DataValues?.age <= 12">
              Child 👶
            </div>

            <div *ngIf="DataValues?.age >= 13 && DataValues?.age <= 19">
              Teenager 👧
            </div>
            <div *ngIf="DataValues?.age >= 20 && DataValues?.age <= 59">
              Adult 🧑
            </div>
            <div *ngIf="DataValues?.age >= 60">
              Senior 👴
            </div>




          </div>
        </div>


        <div class="row mb-2">
          <div class="col-md-4 col-lg-4">
            Sex
          </div>
          <div class="col-md-4 col-lg-4">
            {{DataValues?.sex}}
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-4 col-lg-4">
            Contact No.
          </div>
          <div class="col-md-4 col-lg-4">
            {{DataValues?.cell_no}}
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-4 col-lg-4">
            Zone
          </div>
          <div class="col-md-6 col-lg-6">
            {{DataValues?.zone}}
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-4 col-lg-4">
            Address
          </div>
          <div class="col-md-6 col-lg-6">
            {{DataValues?.house_no}}, {{DataValues?.barangay}} {{DataValues?.city}},
            {{DataValues?.province}}
          </div>
        </div>

        <div class="row mb-2">
          <div class="col-md-4 col-lg-4">
            Type Maintnance
          </div>
          <div class="col-md-6 col-lg-6">
            {{DataValues?.type_maintenance}}
          </div>
        </div>


        <div class="row mb-2">
          <div class="col-md-4 col-lg-4">
             PWD
           </div>
           <div class="col-md-6 col-lg-6" *ngIf="DataValues.pwd == '1'">
             Yes
           </div>
           <div class="col-md-6 col-lg-6" *ngIf="DataValues.pwd == '2'">
             No
           </div>
        </div>
<!--nabyag or natayen-->
        <div class="d-flex">
            <div> <button  mat-raised-button class="btn-success"
                style="margin-right: 20px; width: 100px;">
                <mat-icon aria-hidden="false">man</mat-icon> Alive
              </button></div>
              <div>
                <button  mat-raised-button class="btn-danger"
                style="margin-right: 20px; width: 110px;">
                <mat-icon aria-hidden="false">man</mat-icon> Deceased
              </button></div>
            </div>




        <div *ngIf="DataValues?.age <= 12; else show">

          <!-- BMI CALCULATIONS -->
          <hr>
          <h2 mat-dialog-title>
            <mat-icon class="icon" aria-hidden="false">medical_information</mat-icon> Health Status
          </h2>





          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Height
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.child_height}}
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Weight
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.child_weight}}
            </div>
          </div>


          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Body mass Index
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.child_body_mass_index}}
            </div>
          </div>


          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Status
            </div>
            <div class="col-md-4 col-lg-4">
              <div *ngIf="DataValues?.child_body_mass_index >= 18.44444 &&  DataValues?.child_body_mass_index <= 24.55555 "
                class="text-success">
                Normal
              </div>
              <div *ngIf="DataValues?.child_body_mass_index <= 18.44444  " class="text-warning">
                Underweight
              </div>
              <div *ngIf="DataValues?.child_body_mass_index >= 25.00000  " class="text-danger">
                Overweight
              </div>
            </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-4 col-lg-4">
              Date Updated
            </div>
            <div class="col-md-4 col-lg-4">
              {{DataValues?.updated_date | date}}
            </div>
          </div>

          <div class="row">
            <div class="col-md-8 col-lg-8">

            </div>
            <div class="col-md-4 col-lg-4">
              <div class="d-flex justify-content-end">
                <div>
                  <button (click)="updateDialog(DataValues.user_id)" mat-raised-button mat-dialog-close>Update</button>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <mat-tab-group>

            <mat-tab label="Recommendation">
              <mat-tab-group color="primary" class="mt-5" backgroundColor="primary">
                <div *ngIf="DataValues.child_status == 'Normal'">

                <mat-tab label="Normal">

                  <div class="mb-3 mt-3">
                    <strong>Normal - &nbsp;</strong><span class="text-warn">(18.5 - 24.9)</span>
                  </div>


                  <div style="text-align: center;" class="mb-3">
                    You are a healthy person!
                    <br>
                    <br>Having a Good health means freedom from sickness and diseases. Also, good health means that you
                    can do more work than your capacity without getting tired.
                  </div>


                  <div class="mb-3">
                    <h3>When your weight is in a healthy range:</h3>
                  </div>

                  <div>
                    <ul>
                      <li>Your body more efficiently circulates blood.</li>
                      <li>Your fluid levels are more easily managed.</li>
                      <li>You are less likely to develop diabetes, heart disease, certain cancers, gallstones, osteoarthritis, breathing problems and sleep apnea.</li>
                      <li>You may feel better about yourself and have more energy to make other positive health changes</li>

                    </ul>
                  </div>

                </mat-tab>
              </div>

              <div *ngIf="DataValues.child_status == 'Underweight'">
                <mat-tab label="Underweight">



                  <div class="mb-3 mt-3">
                    <strong>Underweight - &nbsp;</strong><span class="text-warn">(18.4 🔻)</span>
                  </div>


                  <div style="text-align: center;" class="mb-3">
                    An underweight person is a person whose body weight is considered too low to be healthy.
                    <br>
                    <br>Being underweight is not good for your health.
                  </div>


                  <div class="mb-3">
                    <h3>Here are some healthy ways to gain weight when you're underweight!</h3>
                  </div>

                  <div>
                    <ul>
                      <li><b>Eat more frequently. </b>When you're underweight, you may feel full faster. Eat five to six smaller meals
                        during the day rather than two or three large meals.</li>

                      <li><b>Choose nutrient-rich foods.</b> As part of an overall healthy diet,
                        choose whole-grain breads, pastas and cereals; fruits and vegetables;
                        dairy products; lean protein sources; and nuts and seeds.</li>

                      <li><b>Try smoothies and shakes.</b>Try smoothies and shakes. Don't fill up on diet soda, coffee and other drinks with few calories
                        and little nutritional value. Instead, drink smoothies or healthy shakes made with milk and fresh or frozen fruit,
                         and sprinkle in some ground flaxseed. In some cases, a liquid meal replacement may be recommended.</li>

                      <li><b>Watch when you drink.</b> Some people find that drinking fluids before meals blunts their appetite.
                         In that case, it may be better to sip higher calorie beverages along with a meal or snack. For others, drinking 30 minutes after a meal, not with it, may work.</li>

                      <li><b>Make every bite count.</b>Snack on nuts, peanut butter, cheese, dried fruits and avocados. Have a bedtime snack, such as a peanut butter and jelly sandwich,
                         or a wrap sandwich with avocado, sliced vegetables, and lean meat or cheese.</li>

                         <li><b>Top it off.</b> Add extras to your dishes for more calories — such as
                          cheese in casseroles and scrambled eggs, and fat-free dried milk in soups and stews.</li>

                          <li><b>	Have an occasional treat. </b>Even when you're underweight, be mindful of excess sugar and fat. An occasional slice of pie with ice cream is OK.
                             But most treats should be healthy and provide nutrients in addition to calories. Bran muffins, yogurt and granola bars are good choices.</li>

                             <li><b>	Exercise. </b>Exercise, especially strength training, can help you gain weight by building up your muscles. Exercise may also stimulate your appetite.

                             </li>
                    </ul>
                  </div>

                </mat-tab>
              </div>

                <div *ngIf="DataValues.child_status == 'Overweight'">
                <mat-tab label="Overweight">



                  <div class="mb-3 mt-3">
                    <strong>OverWeight - &nbsp;</strong><span class="text-warn">(25 🔺)</span>
                  </div>


                  <div style="text-align: center;" class="mb-3">
                    Overweight and obesity are defined as abnormal or excessive fat accumulation that presents a risk to health.
                    <br>
                    <br>Being overweight is a precursor to obesity and, like obesity, can increase the risk of diabetes, heart attack and stroke, it’s also possible to be overweight and still healthy,
                    especially if you’re free from chronic diseases like hypertension or diabetes.
                  </div>


                  <div class="mb-3">
                    <h3>When your weight is in a healthy range:</h3>
                  </div>

                  <div>
                    <ul>
                      <li>Make sure your meals are healthy, with 30% or fewer calories from fat.</li>
                      <li>Wait at least 15 minutes before offering a second serving.</li>
                      <li>Avoid buying snacks with lots of sodium and foods and drinks with extra sugar.</li>
                      <li>Provide enough fiber.</li>
                      <li>Limit the amount of high-calorie foods kept in the home.</li>
                      <li>Make fresh fruits and vegetables available.</li>
                      <li>Don’t reward completion of meals with sweet desserts.</li>
                      <li>Limit TV and non-school-related media viewing. Don’t watch TV during meals or snacks.</li>
                      <li>I encourage you to be physically active.</li>
                    </ul>
                  </div>

                </mat-tab>
              </div>
              </mat-tab-group>


            </mat-tab>
            <mat-tab label="Health Status History">
              <!-- start -->

              <div class="row px-0 mx-0 mt-2 mb-1">
                <div class="col-md-4 col-lg-4  px-0 mx-0" style="padding-top: 18px;">
                  <!-- <input matInput type="text" #inp>
                  <button  class="" mat-raised-button >
                    Search
                  </button> -->

                  <div class="wrap">
                    <div class="search">
                      <input #inp class="searchTerm">
                      <button (click)="applyFilter(inp.value)" class="searchButton">
                        <i class="fa fa-search"></i>
                      </button>
                    </div>
                  </div>

                </div>
                <div class="col-md-8 col-lg-8  px-0 mx-0">
                  <div style="float: right ;">
                    <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
                      [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons>
                    </mat-paginator>
                  </div>
                </div>
              </div>

              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    {{i + (this.paginate.pageSize * this.paginate.page) + 1}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="fullname">
                  <th mat-header-cell *matHeaderCellDef> Fullname </th>
                  <td mat-cell *matCellDef="let element"> {{element.fname}}, {{element.mname}}, {{element.lname}} </td>
                </ng-container>


                <ng-container matColumnDef="height">
                  <th mat-header-cell *matHeaderCellDef> Height </th>
                  <td mat-cell *matCellDef="let element"> {{element.child_height}} </td>
                </ng-container>

                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef>Weight</th>
                  <td mat-cell *matCellDef="let element"> {{element.child_height}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="bmi">
                  <th mat-header-cell *matHeaderCellDef> Body Mass Index </th>
                  <td mat-cell *matCellDef="let element"> {{element.child_body_mass_index}}
                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element">

                    <div
                      *ngIf=" element.child_body_mass_index >= 18.44444 &&  element.child_body_mass_index <= 24.55555 "
                      class="text-success">
                      Normal
                    </div>

                    <div *ngIf="element.child_body_mass_index <= 18.44444  " class="text-warning">
                      Underweight
                    </div>

                    <div *ngIf="element.child_body_mass_index >= 25.00000  " class="text-danger">
                      Overweight
                    </div>


                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="date">
                  <th mat-header-cell *matHeaderCellDef> Date </th>
                  <td mat-cell *matCellDef="let element"> {{element.created_date | date}} </td>
                </ng-container>


                <!-- controls -->
                <ng-container matColumnDef="controls" style="text-align:right;">
                  <th mat-header-cell *matHeaderCellDef> Controls </th>
                  <td mat-cell *matCellDef="let element">

                    <!-- <div class="d-flex">
                      <div> <button (click)="deleteUser(element.user_id)" mat-raised-button class="btn-danger"
                          style="margin-right: 20px; width: 100px;">
                          <mat-icon aria-hidden="false">delete</mat-icon> Delete
                        </button></div>
                      <div> <button (click)="editUser(element.user_id)" mat-raised-button class="btn-primary"
                          style="margin-right: 20px; width: 100px;">
                          <mat-icon aria-hidden="false">edit</mat-icon> Edit
                        </button></div>
                      <div> <button (click)="viewUser(element.user_id)" mat-raised-button class="btn-success"
                          style="margin-right: 20px; width: 100px;">
                          <mat-icon aria-hidden="false">visibility</mat-icon>View
                        </button></div>
                    </div> -->

                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <!-- end -->
            </mat-tab>
            <mat-tab label="Third"> Content 3 </mat-tab>
          </mat-tab-group>







        </div>

        <ng-template #show>



        </ng-template>




        <div *ngIf="DataValues?.sex == 'Female' && DataValues?.age >= 13 &&  DataValues?.pregnant_status == 'Yes'  ">


          <div class="card">
            <div class="card-header">
              Women Status 🤰
            </div>
            <div class="card-body">

              <div class="row mb-2">
                <div class="col-md-4 col-lg-4">
                  Pregnant
                </div>
                <div class="col-md-4 col-lg-4">
                  {{DataValues?.pregnant_status}}
                </div>
              </div>

              <div class="row mb-2">
                <div class="col-md-4 col-lg-4">
                  Last period
                </div>
                <div class="col-md-4 col-lg-4">
                  {{DataValues?.last_period | date}}
                </div>
              </div>

              <hr>

              <h3>Follow up check-up</h3>

              <div class="row mb-2">
                <div class="col-md-12 col-lg-12">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Controls</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of getAllDataWomen?.data">
                        <td>{{data?.womens_date | date}}</td>
                        <td>
                          <div style="display: flex;">
                            <div class="mr-2">
                              <button mat-raised-button (click)="confirm()">Confirm</button>
                            </div>
                            <div>
                              <button mat-raised-button (click)="cancel()">Cancel</button>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--  -->
              <!-- for women update dialog -->
              <div class="row mb-3 mt-3">
                <div class="col-md-12 col-lg-12">
                  <div class="d-flex justify-content-end">
                    <div>
                      <button (click)="updateWomenMens(DataValues.user_id)" mat-raised-button
                        mat-dialog-close>Add Schedule</button>

                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>





          <hr>



          <div *ngIf="DataValues?.maintenance_pregnant == 1 ">

            <div class="card">
              <div class="card-header">Women Maintenance</div>
              <div class="card-body">

                <div class="row mb-3 mt-3">
                  <div class="col-md-12 col-lg-12">
                    <div class="d-flex justify-content-end">
                      <div>
                        <button (click)="addpregMaintenance(DataValues.user_id)" mat-raised-button
                          mat-dialog-close>Add</button>

                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
          </div>


          <hr>


          <h3>Menstruation History</h3>

          <div class="row px-0 mx-0 mt-2 mb-1">
            <div class="col-md-4 col-lg-4  px-0 mx-0" style="padding-top: 18px;">


            </div>
            <div class="col-md-8 col-lg-8  px-0 mx-0">
              <div style="float: right ;">
                <mat-paginator #paginator [pageSizeOptions]="pageOptionSize" [pageSize]="paginate.pageSize"
                  [length]="paginate.totalCount" (page)="onChangedPage($event)" showFirstLastButtons>
                </mat-paginator>
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-12 col-lg-12">

              <table mat-table [dataSource]="dataSourceWomen" class="mat-elevation-z8">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- Position Column -->
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef> No. </th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    {{i + (this.paginate.pageSize * this.paginate.page) + 1}}
                  </td>
                </ng-container>


                <!-- Symbol Column -->
                <ng-container matColumnDef="mens_date">
                  <th mat-header-cell *matHeaderCellDef> Menstration Date </th>
                  <td mat-cell *matCellDef="let element">  {{DataValues?.last_period | date}}
                  </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="status">
                  <th mat-header-cell *matHeaderCellDef> Status </th>
                  <td mat-cell *matCellDef="let element">




                  </td>
                </ng-container>


                <!-- controls -->
                <ng-container matColumnDef="controls" style="text-align:right;">
                  <th mat-header-cell *matHeaderCellDef> Controls </th>
                  <td mat-cell *matCellDef="let element">

                    <!-- <div class="d-flex">
                      <div> <button (click)="deleteUser(element.user_id)" mat-raised-button class="btn-danger"
                          style="margin-right: 20px; width: 100px;">
                          <mat-icon aria-hidden="false">delete</mat-icon> Delete
                        </button></div>
                      <div> <button (click)="editUser(element.user_id)" mat-raised-button class="btn-primary"
                          style="margin-right: 20px; width: 100px;">
                          <mat-icon aria-hidden="false">edit</mat-icon> Edit
                        </button></div>
                      <div> <button (click)="viewUser(element.user_id)" mat-raised-button class="btn-success"
                          style="margin-right: 20px; width: 100px;">
                          <mat-icon aria-hidden="false">visibility</mat-icon>View
                        </button></div>
                    </div> -->

                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsWomens"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsWomens;"></tr>
              </table>
            </div>
          </div>
        </div>











      </div>
    </div>
  </div>

  <div *ngIf="DataValues?.maintenance_senior == 1 && DataValues?.age >=13">

    <div class="card">
      <div class="card-header">Maintenance</div>
      <div class="card-body">


        <div class="row mb-3 mt-3">
          <div class="col-md-12 col-lg-12">
            <div class="d-flex justify-content-end">

              <div>
                <button (click)="seniorMaintenance(DataValues.user_id)" mat-raised-button
                  mat-dialog-close>Add</button>

              </div>
            </div>
          </div>
        </div>




      </div>
    </div>
  </div>







  <!-- end -->

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close> ❌ Close</button>
  <!-- <button mat-raised-button (click)="onSubmit()">Submit</button> -->
</mat-dialog-actions>

<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner> -->
