<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="main-section">
      <div class="dashbord">
        <div class="icon-section">
          <i class="fa fa-users" aria-hidden="true"></i><br>
          <br>
          <br>
          <small>Normal</small>
          <p>{{countdata?.count_normal}}</p>
          <br>
          <br>
        </div>
        <!-- <div class="detail-section">
          <a href="#">More Info </a>
        </div> -->
      </div>
      <div class="dashbord dashbord-green">
        <div class="icon-section">
          <i class="fa fa-users" aria-hidden="true"></i><br>
          <br>
          <br>
          <small>Underweight</small>
          <p>{{countdata?.count_under}}</p>
          <br>
          <br>
        </div>
        <!-- <div class="detail-section">
          <a href="#">More Info </a>
        </div> -->
      </div>
      <div class="dashbord dashbord-orange">
        <div class="icon-section">
          <i class="fa fa-users" aria-hidden="true"></i><br>
          <br>
          <br>
          <small>Overweight</small>
          <p>{{countdata?.count_over}}</p>
          <br>
          <br>
        </div>
        <!-- <div class="detail-section">
          <a href="#">More Info </a>
        </div> -->




      </div>
      <div class="dashbord dashbord-red">
        <div class="icon-section">
          <i class="fa fa-users" aria-hidden="true"></i><br>
          <br>
          <br>
          <small>Children</small>
          <p>{{countdata?.count_child}}</p>
          <br>
          <br>
        </div>




      <!-- <div class="dashbord dashbord-blue">
        <div class="icon-section">
          <i class="fa fa-tasks" aria-hidden="true"></i><br>
          <small>Task</small>
          <p>8</p>
        </div>
        <div class="detail-section">
          <a href="#">More Info </a>
        </div>
      </div>
      <div class="dashbord dashbord-red">
        <div class="icon-section">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i><br>
          <small>Cart</small>
          <p>$ 24</p>
        </div>
        <div class="detail-section">
          <a href="#">More Info </a>
        </div>
      </div>
      <div class="dashbord dashbord-skyblue">
        <div class="icon-section">
          <i class="fa fa-comments" aria-hidden="true"></i><br>
          <small>Mentions</small>
          <p>96</p>
        </div>
        <div class="detail-section">
          <a href="#">More Info </a>
        </div>
      </div> -->
    </div>


  </div>
</div>









<div  class="report-container">
  <div class="report-header">
    <i class="recent-Articles fa fa-inventory" >  Medicine</i>

</div>


<table class="table center" style=" border: 1px solid; margin-left: auto;
  margin-right: auto; width: 100%; text-align: center; margin-top: 50px;" >
<thead>
  <tr>
    <th >Generic name</th>
    <th >Available stocks</th>
    <th>Expiration Date</th>
    <th>Remaining Days</th>
    <th>Status</th>

  </tr>
</thead>
<tbody>
    <tr *ngFor="let row of getAllData">
      <td class="t-op-nextlvl " >{{row?.gname}}</td>
      <td class="t-op-nextlvl "  >{{row?.quantity}}</td>
      <td class="t-op-nextlvl " >{{row?.exdate|date}}</td>
      <td class="t-op-nextlvl ">{{row?.days_remain}}</td>
      <td class="t-op-nextlvl "  *ngIf="row.exdate <= today;else notExpired">
        <strong class=" text-danger ">Expired</strong>
      </td>
      <td></td>
      <ng-template #notExpired>
        <strong class="text-success">Good</strong>
      </ng-template>

    </tr>
</tbody>

</table>
</div>



<div class="row mt-5">
  <div class="col-md-3 col-lg-3"></div>
  <div class="col-md-6 col-lg-6">
    <div class="pie" >
      <canvas  id="piechart"></canvas>
    </div>
  </div>
  </div>
</div>


<div class="row mt-5">
  <div class="col-md-3 col-lg-3"></div>
  <div class="col-md-6 col-lg-6">
    <div class="polar"  >
      <canvas  id="radarchartChild"></canvas>
    </div>
  </div>
  </div>


  <div class="row mt-5">
    <div class="col-md-3 col-lg-3"></div>
    <div class="col-md-6 col-lg-6">
      <div class="radar"  >
        <canvas  id="radarchartPopulation"></canvas>
      </div>
    </div>
    </div>



<div class="row mb-5 mt-5">
  <div class="col-md-6 col-lg-6">
    <canvas id="malechart"></canvas>
  </div>

  <div class="row mt-5">
    <div class="col-md-3 col-lg-3"></div>
    <div class="col-md-6 col-lg-6">
      <div class="femalechart"  >
        <canvas  id="femalechart"></canvas>
      </div>
    </div>
    </div>



<br>
<br>

    <div class="row mb-5 mt-5">
      <div class="col-md-6 col-lg-6">
        <canvas id="myChart"></canvas>
      </div>

      <div class="col-md-6 col-lg-6">
        <canvas id="seniorChart"></canvas>
      </div>

    </div>


















