
<h2 mat-dialog-title>Announcement</h2>
<mat-dialog-content style="width: 600px;" class="mat-typography">

  <!-- //start -->

  <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-12">

          <form [formGroup]="commentform">



              <mat-form-field class="example-full-width exam " >
                <mat-label  style="max-height: fit-content;" >Leave a comment</mat-label>
                <textarea matInput formControlName="comment" [value]="this.radioValue"></textarea>
              </mat-form-field>

              <div class="row mb-3">
                <div class="col-md-8 col-lg-12">
                 <span style="margin-right: 10px;"><h2>Choose Format</h2></span>
                  <mat-radio-group aria-label="Select an option" formControlName="formattext"   (change)="radioChange($event)">
                    <mat-radio-button style="margin-right: 10px;" value="1">Format 1</mat-radio-button>
                    <mat-radio-button  value="2">Format 2</mat-radio-button>
                    <mat-radio-button style="margin-left: 10px;"  value="3">Format 3</mat-radio-button>
                    <mat-radio-button style="margin-left: 10px;"  value="4">Format 4</mat-radio-button>

                  </mat-radio-group>
                </div>
              </div>


          </form>

        </div>
      </div>
  </div>






<!-- end -->

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close>close</button>
  <button mat-raised-button (click)="onSubmit()">Send</button>
</mat-dialog-actions>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>

